.w-button-no-style {
  border: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.w-input-style {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 5px;

  &:focus {
    outline: 0;
  }
}

.w-wrap-dialog {
  background-color: var(--backgroundContent);
  border-top: 5px solid var(--secondary);
  box-shadow: 0 3px 20px var(--boxShadow);
  left: 50%;
  transform: translateX(-50%);
}

.w-transition {
  &-normal {
    transition-duration: 0.1s;
  }

  &-slow {
    transition-duration: 0.5s;
  }

  &-linear {
    transition-property: all;
    transition-timing-function: linear;
  }

  &-ease-in {
    transition-property: all;
    transition-timing-function: ease-in;
  }

  &-popup {
    transition-property: transform;
    transition-duration: 0.1s, 0s;
    transition-timing-function: linear;
  }

  &-show-popup {
    opacity: 1;
    height: auto;
    transform: translate(0, 3px);
  }

  &-hidden-popup {
    height: 0;
    opacity: 0;
    transform: translate(0, -3px);
  }

  &-slide-up-left {
    height: auto;
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }

  &-slide-down-left {
    height: auto;
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
