.w-calendar {
  border-collapse: none;

  * {
    user-select: none;
  }

  // No select
  &-no-select {
    li {
      cursor: initial !important;

      & :hover {
        background-color: transparent !important;
      }
    }
  }

  // Top
  &-top {
    @include fontSize("big");
    text-align: left;
    th {
      text-indent: 10px;
    }
  }

  // Heading
  &-head {
    @include fontWeight("semiBold");
    text-align: center;
    height: 34px;
  }

  // Date
  &-date {
    padding: 3px;
    margin: 0;

    li {
      width: 28px;
      height: 28px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: var(--backgroundOpacity);
      }
    }

    &.selected {
      li {
        border-radius: 50%;
        background-color: var(--secondary);
        color: var(--backgroundContent);
      }
    }

    &.not-in-month {
      opacity: 0.5;
    }

    &.now {
      li {
        background-color: var(--primary) !important;
        color: var(--backgroundContent) !important;
      }
    }

    &.disable {
      opacity: 0.2;
      user-select: none;
      pointer-events: none;

      li:hover {
        background-color: unset;
      }
    }
  }
}

@import './month.scss';
@import './year.scss';