.w-calendar-year {
  width: 15rem;

  & > button {
    width: 100%;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-item {
    border-radius: 9999px;
    cursor: pointer;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    width: 33.33333%;

    &.active {
      background-color: var(--primary);
      color: #fff;
    }

    &:last-of-type,
    &:first-of-type {
      opacity: 0.6;
    }

    &:hover {
      background-color: var(--backgroundOpacity);
    }

    &.disable {
      opacity: 0.2 !important;
      user-select: none;
      pointer-events: none;
    }
  }
}
