@import './../../__css__/mixin.scss';

.w-collapse {
  position: relative;

  &-heading {
    @include fontWeight("semiBold");
    @include fontSize("small");
    @include opacity("semiTransparent");
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    span {
      width: max-content;
    }

    &-dash {
      align-self: flex-end;
      transition: all 0.2s linear;
      flex: 1 1 auto;
      position: relative;

      ::after {
        @include transition("easeIn");
        content: "";
        position: absolute;
        height: 1px;
        background-color: var(--border);
        right: 0;
        bottom: 0;
        transition-property: width;
        width: 0;
      }
    }

    /* Icon */
    div:first-of-type {
      @include align("margin", "r", 2);
      transition: all 0.2s linear;
    }

    &.show {
      div:first-of-type {
        transform: rotate(180deg);
      }

      .w-heading-dash::after {
        width: 98%;
      }
    }
  }

  &-content {
    @include transition("linear");
    @include align("margin", "y", 5);
    @include align("margin", "x", 0);
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition-property: height;
    transition-duration: 0.2s;

    &.show {
      transform: scaleY(1);
    }
  }
}
