@keyframes slideRightOut {
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
  0% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.w-notification {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 1px 3px var(--boxShadow);
  animation: slideRightOut 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: var(--backgroundContent);
  background-color: var(--dark);

  &.open {
    animation: slideRight 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &.white {
    color: var(--text);
    background-color: var(--backgroundContent);
  }

  &.error {
    background-color: var(--error);
  }

  &.success {
    background-color: var(--success);
  }

  &-message {
    position: relative;
    top: -1px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-close {
    border: none;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;

    i {
      color: var(--backgroundContent);
    }

    &.white {
      color: initial;
    }

    &:focus {
      border: none;
      outline: 0;
    }
  }
}

@import './popup.scss';