.w-notification-popup {
  padding-bottom: 20px;

  p {
    margin: 0 auto 12px;
    max-width: 300px;
    text-align: center;
  }

  &-direction {
    display: flex;
    justify-content: center;

    &.disable {
      button {
        user-select: none;
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
