@import "./../../__css__/mixin.scss";

.w-list {
  & > li,
  & > div {
    @include borderRadius("normal");
    padding: 3px 10px;
    transition: 0.2s all ease-in;

    &:hover {
      background-color: var(--background);
    }
  }
}
