@import './../../__css__/mixin.scss';

.w-popover-mark {
  display: block;
  position: relative;
  width: min-content;
}

.w-popover-control {
  cursor: pointer;
  width: max-content;
}

.w-popover {
  & > * {
    @include align("padding", "a", 0);
    @include transition("hiddenPopup");
    display: none;
  }

  &.show > * {
    @include align("padding", "a", 2);
    @include transition("showPopup");
    display: initial;
  }

  @include boxShadow("normal");
  @include borderRadius("normal");
  @include transition("normal");

  position: absolute;
  min-width: 200px;
  background-color: var(--backgroundContent);
  z-index: 999;
  contain: layout;

  &.full {
    width: 100%;
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &.top {
    bottom: calc(100% + 10px);
  }

  hr {
    @include opacity("imageTransparent");
    height: 1px;
  }

  li {
    @include fontSize("normal");
    @include borderRadius("normal");
    @include align("padding", "a", 3);

    list-style: none;
    position: relative;
    width: max-content;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;

    div[src] {
      margin-right: 5px;
    }

    &:hover {
      background-color: var(--backgroundOpacity);
    }
  }

  &-title {
    @include fontSize("big");
    border-bottom: 1px solid var(--borderLight);
    padding: 5px;
  }

  &-content {
    padding: 5px;
    padding-top: 8px;
  }
}
