.w-date-picker {
  &-close {
    background-color: var(--backgroundContent);
    border: none;
    cursor: pointer;
    display: none;
    outline: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    &:focus {
      outline: 0;
    }
  }

  &:hover &-close {
    display: block;
  }

  &-section {
    display: flex;
  }

  &-dropdown {
    @include boxShadow("normal");
    @include transition("popup");
    background-color: var(--backgroundContent);
    display: none;
    padding: 15px;
    position: absolute;
    z-index: -1;

    &.show {
      display: block;
      z-index: 300;
    }
  }

  &-selector {
    @include align("padding", "a", 2);

    &-top {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
      }
    }

    &-container {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
