.w-input {
  @include align('padding', 'a', 2);
  border: none;
  background-color: transparent;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

.w-textarea {
  @include align('padding', 'a', 2);
  border: none;
  background-color: transparent;
  width: 100%;
  resize: none;

  &:focus {
    outline: 0;
  }
}