.w-search{
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  width: 200px;

  input {
    color: initial;
  }

  &.dark {
    border-bottom-color: #fff;

    input{
      color: #fff;
    }
  }

  @include align('padding', 'y', 2);
  @include align('padding', 'x', 3);
  @include transition('easeIn');
  @include opacity('semiTransparent');

  &.focus {
    opacity: 1;
    max-width: 300px;
    width: 100%;
  }
}

.w-search-input{
  @include fontSize("normal");
  margin-left: 5px;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;
  }
}