.w-select {
  &-selection {
    background-color: var(--backgroundContent);
    width: 100%;
    overflow-y: hidden;
    ul {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 400px;
      ::-webkit-scrollbar {
        width: 2px;
      }

      li {
        @include align("padding", "a", 3);
        @include borderRadius("normal");
        width: 100%;
        list-style: none;
        cursor: pointer;

        &:hover {
          background-color: var(--backgroundOpacity);
        }
      }
    }
  }

  &-search {
    @include align("padding", "a", 2);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
  }

  &-value {
    @include align("padding", "a", 2);
    cursor: pointer;
    user-select: none;
    line-height: 20px;
    position: relative;
    min-height: 39px;

    & > i {
      position: absolute;
      right: 5px;
      bottom: 7px;
    }
  }

  &-group {
    margin-top: 5px;

    strong {
      user-select: none;
      padding-left: 8px;
    }

    ul {
      padding-left: 7px;
    }
  }

  &-item {
    display: inline-flex;
    background-color: var(--backgroundOpacity);
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    align-items: center;

    button {
      opacity: 0;
      width: 0;
      padding: 3px 0;
    }

    &:hover button {
      opacity: 1;
      width: initial;
      margin-left: 2px;
      padding: 3px;
    }
  }

  &-placeholder {
    display: inline-flex;
    align-items: center;
    opacity: 0.6;
  }
}
