.w-switch {
  display: flex;
  justify-content: space-between;
  user-select: none;

  h5 {
    @include fontSize("normal");
    @include fontWeight("normal");
  }
  h6 {
    @include fontSize("small");
    @include fontWeight("normal");
    opacity: 0.8;
  }

  input {
    width: 0;
    height: 0;
    display: none;
  }

  &-box {
    @include borderRadius("around");
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    background-color: var(--shadow);

    &-button {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 1px;
      left: 2px;
      cursor: pointer;
      background-color: var(--backgroundContent);
      transform: translate(0, 0);
      transition: transform 0.2s linear;
    }

    &.active {
      background-color: var(--primary);

      &-box {
        transform: translate(100%, 0);
      }
    }
  }
}
